third_party/
lib/
bin/
data/
references/
.git/
/target/
**/node_modules/
examples/demo/data/
/clients/
/examples/*
!/examples/demo/
/examples/demo/*
!/examples/demo/rad.schema.yaml
/fuzz/
/home/*
!/home/public/
/home/public/*
!/home/public/rad.schema.json
/mutants*.out*/
/notes/
/operator/
/tasks/
/tests/
Dockerfile
.dockerignore
