func recString(m protocol.Record, k string) string {
	s, _ := m[k].(string)
	return s
}

func recBool(m protocol.Record, k string) bool {
	b, _ := m[k].(bool)
	return b
}

func recInt64(m protocol.Record, k string) int64 {
	n, _ := m[k].(json.Number)
	i, _ := n.Int64()
	return i
}

func recFloat64(m protocol.Record, k string) float64 {
	n, _ := m[k].(json.Number)
	f, _ := n.Float64()
	return f
}

func recStringPtr(m protocol.Record, k string) *string {
	if m[k] == nil {
		return nil
	}
	v := recString(m, k)
	return &v
}

func recInt64Ptr(m protocol.Record, k string) *int64 {
	if m[k] == nil {
		return nil
	}
	v := recInt64(m, k)
	return &v
}

func recFloat64Ptr(m protocol.Record, k string) *float64 {
	if m[k] == nil {
		return nil
	}
	v := recFloat64(m, k)
	return &v
}

func recBoolPtr(m protocol.Record, k string) *bool {
	if m[k] == nil {
		return nil
	}
	v := recBool(m, k)
	return &v
}
